@import url(/public/fonts/d11-icons/style.css?v=1.6);
/* D11 Icons new*/

/* D11 Icon*/
@font-face {
  font-family: 'D11 Icon';
  src: url('/public/fonts/d11-fonts.eot?3fapne');
  src: url('/public/fonts/d11-fonts.eot?3fapne#iefix')
      format('embedded-opentype'),
    url('/public/fonts/d11-fonts.ttf?3fapne') format('truetype'),
    url('/public/fonts/d11-fonts.woff?3fapne') format('woff'),
    url('/public/fonts/d11-fonts.svg?3fapne#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.d11-icon {
  font-family: 'D11 Icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--currency-font-color);
}

.input-box__clear-btn {
  --icon-size: 14px;
  --icon-color: #7b7a7a;
}

.input-field__clear-btn {
  --icon-size: 14px;
  --icon-color: #7b7a7a;
  background-color: #a1a2a7;
  border-radius: 50%;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-top: 8px;
  color: white;
}

.btn {
  -webkit-tap-highlight-color: transparent;
  background: none;
  border: 0;
  cursor: pointer;
  height: 28px;
  margin: 0;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  font-family: inherit;
  font-size: var(--font-small);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:focus {
  outline: none;
}

.btn--flat {
  --color: var(--primary-btn-color);
  color: var(--primary-btn-color);
  background: none;
  text-align: center;
  min-width: 88px;
  padding: 10px 8px;
  height: auto;
}

.btn--round {
  border-radius: 50%;
  padding: 0;
  border: 1px solid;
  width: 30px;
  height: 30px;
}

.btn--large {
  height: var(--large-button-height);
}

.btn--icon {
  height: var(--button-height);
  width: var(--button-height);
  display: flex;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.btn--raised {
  min-width: 88px;
  color: var(--primary-fg-color);
  background-color: var(--primary-btn-color);
}

.btn--disable {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn--white {
  background: #fff;
  color: var(--primary-btn-color);
}

.btn--orange {
  color: #ffffff;
  border-color: #f6a623;
  background: #f6a623;
}

.btn--blue {
  color: #ffffff;
  border-color: #4990e2;
  background: #4990e2;
}

.btn--text-grey {
  color: #888;
  border-color: #888;
}

.btn--bordered {
  border: 1px solid var(--color);
  --color: var(--primary-btn-color);
  color: var(--primary-btn-color);
  background: none;
  text-align: center;
  min-width: 88px;
}

.btn--green {
  color: #ffffff;
  border-color: #2db23e;
  background: #2db23e;
}

.btn--thin {
  padding: 0;
  min-width: 0;
}

.btn--small {
  min-width: 60px;
  height: 25px;
}

.btn--bordered--white {
  border-color: #ffffff;
}

.text-color--white {
  color: #ffffff;
}

.btn--background--white {
  background-color: #ffffff;
}

.btn--grey-bordered {
  border-color: #d6d6d6;
}

.app-shell {
  --animation-width: 100px;
  --animation-duration: 0.5s;
  --animation-delay: 0s;
  --end-color: #fff;
  --main-color: #d7d7d7;
  background: linear-gradient(
    90deg,
    var(--end-color) -30%,
    var(--main-color) 50%,
    var(--end-color) 130%
  );
  height: 1em;
  border-radius: 2px;
  width: var(--animation-width);
  animation: app-shell-animation var(--animation-duration)
    var(--animation-delay) linear infinite;
  background-size: var(--animation-width);
}

@keyframes app-shell-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: var(--animation-width) 0px;
  }
}

.app-toolbar {
  background-color: var(--primary-bg-color);
  color: var(--primary-fg-color);
  --icon-color: #fff;
}

.app-toolbar-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.button-group {
  display: flex;
  flex-direction: row;
}

/* TODO(fixme): Breaks encapsulation */
.button-group .btn {
  flex: 1 0 0;
  margin-right: 8px;
  min-width: 0;
}

.button-group .btn:last-child {
  margin-right: 0;
}

.contest-card__tnc-row:not(:first-of-type) {
  padding: 0 0 8px;
}

.contest-card__winner-row:nth-of-type(1) {
  color: #f5a623;
}

.contest-card__winner-row:nth-of-type(2) {
  color: #63cda6;
}

.contest-card__winner-row:nth-of-type(3) {
  color: #478eaf;
}

.player-image-profile {
  --size: 46px;
}

.player-image-profile__avatar-info-icon {
  --icon-size: 16px;
  margin-top: calc(-1 * var(--size));
}

.player-profile-row--border {
  border-bottom: 1px solid #e8e8e8;
}

#shepherdModalOverlayContainer {
  -ms-filter: 'progid:dximagetransform.microsoft.gradient.alpha(Opacity=50)';
  filter: alpha(opacity=50);
  height: 100vh;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-out;
  width: 100vw;
  z-index: 9997;
}

#shepherdModalOverlayContainer #shepherdModalMask,
#shepherdModalOverlayContainer #shepherdModalMaskRect {
  height: 100vh;
  width: 100vw;
}

.shepherd-modal.shepherd-enabled {
  position: relative;
  z-index: 9998;
}

.shepherd-active.shepherd-modal-is-visible :not(.shepherd-target) {
  pointer-events: none;
}

body.shepherd-active.shepherd-modal-is-visible {
  overflow-y: hidden;
}

.shepherd-active.shepherd-modal-is-visible .shepherd-button,
.shepherd-active.shepherd-modal-is-visible .shepherd-button *,
.shepherd-active.shepherd-modal-is-visible .shepherd-cancel-link,
.shepherd-active.shepherd-modal-is-visible .shepherd-cancel-link *,
.shepherd-active.shepherd-modal-is-visible .shepherd-element,
.shepherd-active.shepherd-modal-is-visible .shepherd-element *,
.shepherd-active.shepherd-modal-is-visible .spotlight_skip_button button {
  pointer-events: auto;
}

.tippy-arrow {
  -ms-transform: scale(2);
  transform: scale(2);
}

.tippy-popper {
  z-index: 9999;
}

.tippy-popper .tippy-arrow {
  border: 14px solid #23b14f;
  content: '';
  display: block;
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.tippy-popper[x-placement^='top'] {
  margin-bottom: 16px;
}

.tippy-popper[x-placement^='top'] .tippy-arrow {
  border-bottom: 0;
  border-top-color: #23b14f;
  left: calc(50% - 16px);
}

.tippy-popper[x-placement^='bottom'] {
  margin-top: 16px;
}

.tippy-popper[x-placement^='bottom'] .tippy-arrow {
  border-bottom-color: #23b14f;
  border-top: 0;
  left: calc(50% - 16px);
}

.tippy-popper[x-placement^='left'] {
  margin-right: 16px;
}

.tippy-popper[x-placement^='left'] .tippy-arrow {
  border-left-color: #23b14f;
  border-right: 0;
  margin-top: -16px;
  top: calc(50% - 16px);
}

.tippy-popper[x-placement^='right'] {
  margin-left: 16px;
}

.tippy-popper[x-placement^='right'] .tippy-arrow {
  border-left: 0;
  border-right-color: #23b14f;
  top: calc(50% - 16px);
}

.tippy-popper .tippy-tooltip {
  background-color: rgba(0, 0, 0, 0);
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  width: 400px;
}

.shepherd-element,
.shepherd-element *,
.shepherd-element:after,
.shepherd-element :after,
.shepherd-element:before,
.shepherd-element :before {
  box-sizing: border-box;
}

.shepherd-element {
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
}

.shepherd-element.shepherd-has-title .shepherd-content header {
  background: #23b14f;
  padding: 12px 16px;
  line-height: 18px;
}

.shepherd-element .shepherd-content {
  background: #23b14f;
  font-size: inherit;
  padding: 0;
  border-radius: 5px;
}

.shepherd-element .shepherd-content header {
  *zoom: 1;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 2em;
  padding: 0.75em 0.75em 0;
}

.shepherd-element .shepherd-content header:after {
  clear: both;
  content: '';
  display: table;
}

.shepherd-element .shepherd-content header .shepherd-title {
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: middle;
}

.shepherd-element .shepherd-content header .shepherd-title {
  color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  font-size: 14px;
}

.shepherd-element .shepherd-content .shepherd-text {
  color: #ffffff;
  text-align: left;
  padding: 0px 16px;
  font-size: 12px;
}

.shepherd-element .shepherd-content .shepherd-text p {
  margin-top: 0;
}

.shepherd-element .shepherd-content .shepherd-text p:last-child {
  margin-bottom: 0;
}

.shepherd-element .shepherd-content footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 16px 12px;
}

.shepherd-element .shepherd-content footer .shepherd-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.shepherd-element
  .shepherd-content
  footer
  .shepherd-buttons
  li
  .shepherd-button {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  background: transparent;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  line-height: 1em;
  padding: 8px 16px;
  text-transform: uppercase;
  border: 1px solid;
}

.shepherd-element .shepherd-content footer .shepherd-buttons li {
  display: inline;
  margin-right: 12px;
}

.shepherd-element .shepherd-content footer .shepherd-buttons li:last-child {
  margin-right: 0;
}

.shepherd-element
  .shepherd-content
  footer
  .shepherd-buttons
  li
  .shepherd-button.last-step-button {
  background: #ffffff;
  color: #23b14f;
}

.shepherd-button:focus {
  outline: none;
}

.shepherd-modal-target:focus {
  outline: none !important;
}

.player-container:hover .role-overlay {
  opacity: 1;
  pointer-events: auto;
}

.player-card-container:last-child::after {
  display: none;
}

.dropdown-list-items::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
}

.dropdown-list-items::-webkit-scrollbar-thumb {
  background-color: rgba(40, 40, 40, 0.2);
  border-radius: 4px;
}

.dropdown-list-item:hover:not(.selected) {
  background-color: #dcdcdc;
}

.dropdown-list-item.selected {
  background-color: #282828;
  color: #fff;
}

.contest-list-item--container:hover {
  border: 1px solid #dcdcdc;
  background-color: #fafafa;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/public/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(/public/MaterialIcons-Regular.woff2) format('woff2'),
    url(/public/MaterialIcons-Regular.woff) format('woff'),
    url(/public/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noway';
  font-style: normal;
  font-weight: 300;
  src: url(/public/fonts/Noway-Roman-Webfont/Noway-Light-webfont/noway-light-webfont.eot); /* For IE6-8 */
  src: local('Noway Light'), local('Noway-Light'),
    url(/public/fonts/Noway-Roman-Webfont/Noway-Light-webfont/noway-light-webfont.woff2)
      format('woff2'),
    url(/public/fonts/Noway-Roman-Webfont/Noway-Light-webfont/noway-light-webfont.woff)
      format('woff'),
    url(/public/fonts/Noway-Roman-Webfont/Noway-Light-webfont/noway-light-webfont.ttf)
      format('truetype');
}

@font-face {
  font-family: 'Noway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/public/fonts/Noway-Roman-Webfont/Noway-Regular-webfont/noway-regular-webfont.eot); /* For IE6-8 */
  src: local('Noway Regular'), local('Noway-Regular'),
    url(/public/fonts/Noway-Roman-Webfont/Noway-Regular-webfont/noway-regular-webfont.woff2)
      format('woff2'),
    url(/public/fonts/Noway-Roman-Webfont/Noway-Regular-webfont/noway-regular-webfont.woff)
      format('woff'),
    url(/public/fonts/Noway-Roman-Webfont/Noway-Regular-webfont/noway-regular-webfont.ttf)
      format('truetype');
}

@font-face {
  font-family: 'Noway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/public/fonts/Noway-Roman-Webfont/Noway-Medium-webfont/noway-medium-webfont.eot); /* For IE6-8 */
  src: local('Noway Medium'), local('Noway-Medium'),
    url(/public/fonts/Noway-Roman-Webfont/Noway-Medium-webfont/noway-medium-webfont.woff2)
      format('woff2'),
    url(/public/fonts/Noway-Roman-Webfont/Noway-Medium-webfont/noway-medium-webfont.woff)
      format('woff'),
    url(/public/fonts/Noway-Roman-Webfont/Noway-Medium-webfont/noway-medium-webfont.ttf)
      format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: var(--icon-size); /* Preferred icon size */
  width: var(--icon-size);
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #fafafa;
  color: var(--color);
  font-family: Noway, sans-serif, -apple-system, BlinkMacSystemFont, “Segoe UI”,
    Roboto, “Helvetica Neue”, Ubuntu, Arial, sans-serif;
  font-size: var(--font-medium);
  font-weight: 500;
  user-select: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

img {
  overflow: hidden;
}

img:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #ccc;
}

.noway-font-page {
  font-family: Noway, sans-serif, -apple-system, BlinkMacSystemFont, “Segoe UI”,
    Roboto, “Helvetica Neue”, Ubuntu, Arial, sans-serif;
}

.leaderboardTeamList img:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  background-size: contain;
  background-image: url('/public/imgs/pwa_default_user_avatar.png');
}

.no-scroll {
  overflow: hidden;
}
